@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Martel+Sans:wght@700&family=Roboto+Slab:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
}

.hero{
    height: calc(100% - 63px);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    gap: 24px;
    padding: 0 30px;
}

.hero1{
    font-weight: 900;
    font-size: 45px;
    width: 80vw;
    text-align: center;
}
.hero2{
    font-weight: 400;
    font-size: 23px;
    width: 80vw;
    text-align: center;
}
.hero3{
    font-weight: 400;
    font-size: 20px;
    width: 80vw;
    text-align: center;
}

.main{
    height: 120vh;
    background-image: url(assets/img/bg.jpg);
    background-position: center center;
    background-size: max(1800px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}
.main .box{
    position: absolute;
    top: 0;
    height: 120vh;
    width: 100%;
    opacity: 0.5;
    background-color: black;
}
nav{
    max-width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
}

nav img{
    color: red;
    width: 140px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.separation{
    height: 11px;
    width: 100%;
    background-color: rgb(82, 82, 82);
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.329);
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 400;
}


.main input{
    padding: 15px 35px;
    font-size: 12px;
    width: 12rem;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    background-color: rgba(23,23,23,0.5);
    border: 1px solid rgba(23,23,23,0.4);
}
.redsm{
    background-color: red;
    color: white;
    border: 0cap;
}
.redbtn{
    background-color: red;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    border: 0cap;
}
.herobtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    max-width: 77vw;
    height: 550px;
    /* flex-wrap: wrap; */
}

.third{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    max-width: 77vw;
    height: 570px;
    /* flex-wrap: wrap; */
}

.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;
    top: 13px;
}
.secimg video{
    position: absolute;
    width: 475px;
    top: 60px;
    right: 1px;
}

.secimg{
    position: relative;
}
.secimg1{
    position: relative;
}


.first > div :first-child{
    font-size: 48px;
    font-weight: bold;
    padding-top: 34px 0px;
}
.first > div :nth-child(2){
    font-size: 23px;
    font-weight: bold;
}
.secimg1 img{
    width: 555px;
    position: relative;
    z-index: 10;
    top: 13px;
}
.secimg1 video{
    position: absolute;
    width: 350px;
    top: 51px;
    right: 111px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
    
}
.faq h2{
    text-align: center;
    font-size: 40px;
    padding: 15px;
}
.faqbox{
    display: flex;
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 25px;
    position: relative;
    max-width: 74vw;
    margin: 10px  auto;
    justify-content: space-between;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease-out;
}
.faqbox:hover{
    background-color: rgb(107, 106, 106);

}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}
@media screen and (max-width : 1300px){
    .first{
        flex-wrap: wrap;
        height: 558px;
        padding: 10px;
    }
    .third{
        flex-wrap: wrap;
        height: 558px;
        padding: 10px;
    }
    /* .first{
        flex-wrap: wrap;
    }
    .third{
        flex-wrap: wrap;
    } */
    .secimg img{
        width: 345px;
    }
    .secimg video{
        width: 305px;  
    } 
    .secimg1 img{
        width: 345px;
    }
    /* .secimg1 video{
        width: 206px;
        right: 72px;
        top: 37px;
    } */
    .secimg1 video{
        width: 206px;
        right: 72px;
        top: 37px;
    }
    .hero1{
        font-size: 32px;    
    }
    .hero2{
        font-size: 18px;    
    }
    .hero3{
        font-size: 18px;    
    }
    .herobtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    
    
}

@media screen and (max-width : 1111px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
        color: white;
        
    }
    
}

    footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    color: rgb(150, 150, 150);
    padding: 14px;
}
.footeritem{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.footer a{
    /* text-decoration: none; */
    color: rgb(150, 150, 150);
    font-size: 14px;

}
.questions{
    padding: 34px 0px;
}